.header {
    &-intro__container {
    }
    &__logo-container {
        margin-top: $row;
    }
    &__blurb {
        max-width: 740px;
        margin-top: $row*6;
        margin-bottom: $row*6;
    }
    &__background-image {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        max-width: 74%;
    }
    &__me-image {
        position: absolute;
        top: 280px;
        left: 61%;
        height: $row*14;
    }

    &__cross {
        .home & {display:none;}
        .caseStudies & {
            position: relative;
            top: -22px;
            left: 98%;
            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}