$row: 48px;
.links {
    text-decoration: none;
    margin-right: $row;
    font-size: 25px;
    font-weight: normal;

    @media screen and (max-width: 520px) {
        margin: 6px 0;
        font-size: 20px;
        font-weight: normal;
        display: inline-block;
    }

    &__container {
        margin-bottom: $row*3;

        @media screen and (max-width: 520px) {
            margin-bottom: $row;
        }
    }
    &__icon {
        padding-right: 18px;        
    }
}
.case {
    &__container {
        @media screen and (min-width: 680px) {
        display: flex;
        justify-content: space-between;
        }
    }
    &__column {
        width: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 680px) {
            width: 47%;
        }
    }
    &__link {
        text-decoration: none;
    }
    &__wrapper {
        margin-bottom: $row*1.2;

        @media screen and (min-width: 680px) {
            margin-bottom: $row*2;
        }

    }
    &__image {
        width: 100%;
        transition: .6s ease;
    }
    &__image-container {
        transition: .6s;
        overflow: hidden;

        &:hover .case__image {
            transform: scale(1.07) !important;
        }
        &:hover ~ .case__title {
            // color: $blue;
        }
    }
    &__title {
        cursor: pointer;
        transition: 0.3s;
        display: inline-block;
        &:hover {
            //  color: $blue;
        }
    }
}