<header id="header" class="header__container {{ entry.getType() }} fade">
    <div class="header__logo-container">
        <a href="http://localhost:8888/portfolio/public/index.php/">
            <img class="header__logo" src="http://localhost:8888/portfolio/public/assets/images/logo.svg" alt="JC. monogram logo.">
        </a>
    </div>

    <a href="http://localhost:8888/portfolio/public/index.php/" class="header__cross"><img src="http://localhost:8888/portfolio/public/assets/images/cross.svg" alt=""></a>
</header>

<body>
    <div id="container">
    

