<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="http://localhost:8888/portfolio/public/index.php/home/" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    {% includeCssFile "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" %}
    {% includeCssFile "http://localhost:8888/portfolio/public/styles/main.css" %}	

    <style>
        /* Ensure elements load hidden before ScrollReveal runs */
        .fade, .reveal, .fade-delay { visibility: hidden; }
    </style>
</head>

	